*,
*:after
*:before {
    box-sizing:border-box;
}

body{
    font-family:"inter", sans-serif;
    background-color: rgb(188, 171, 204);
}

.card{
    padding-top: ;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 10;
    max-width: 50%;
    background-color: aliceblue;
    box-shadow: 0.5px 10px 0 rgba(0,0,0, 0.15);
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;


}

.card-img{
padding-bottom: 56.80%;
position:relative;

}
.card-img img {
    position: absolute;
    width: 100%;
}

.card-body{
    padding: 1.5rem;

}

.card-title{
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 700;
}
.card-intro{
margin-top: 7vrem;
line-height: 1.5;
}

.container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}